- if task.errors.present?
ul#error_explanation
  - task.errors.full_messages.each do |message|
    li= message

= form_with model: task, local: true do |f|
  .form-group
    = f.label :name
    = f.text_field :name, class: "form-control", id: "task_name"
  .form-group
    = f.label :description
    = f.text_area :description, rows: 5, class: "form-control", id: "task_name"
  = f.submit nil, class: "btn btn-primary"